
.dremo{color: #5f5f5f; text-align: left;}
.dremodos{font-weight: bold; color: #5f5f5f;text-align: left; }

.cargar {
    display: none;
}
.loader {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: 80px;
    transform: translate(-50%, -50%);
    content: url('../imagen/svg/loader.svg');
    display: flex;
    justify-content: center;
        /* Asegura que el loader esté centrado horizontalmente */
    align-items: center;
}
.tablatitulo {font-size: 13px; background-color:#9abee1;}

.tablacontenido {font-size: 12px;}

.tablatitulor {font-size: 10px; background-color:#c5c1c1;      border-bottom: 3px solid #37383a; align-content: center;}
.tablacontenidor {font-size: 10px;}

.correcto{color: #00438b; font-weight: bolder; font-size: 12px;}
.incorrecto{color:#cc0000; font-weight: bolder; font-size: 12px;}


.encabezadostitulo{font-size: 12px;  text-align: center;}

.letras {font-size: 12px;}

.colocontenido{background-color:#9abee1;}

.decoencabezado{color: #ffffff;font-weight: bolder; font-size: 12px;}
.letramenu{font-size: 14px;}
.letramenub{font-size: 11px;}
.drop-zone {
    max-width: 100%;
    padding: 25px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}

.drop-zone.dragover {
    border-color: #000;
    color: #000;
}
.file-details {
    margin-top: 10px;
    color: #000;
}
.progress1 {
    margin-top: 10px;
    height: 25px;
    display: none;
}
.scrollable-div {
    max-height: 80lvh; 
    /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    /* Habilita el scroll vertical */
}